.divContainer{
    margin-top: 1.5rem;
  }
  
  .btnInfo{
    font-size: small;
    margin-top: 1rem;
  }
  
  .btnInfo{
    background-color: #C3ACD0;
    border-color: #C3ACD0;
  }
  
  .btnInfo:active:focus, .btnInfo:hover{
    background-color: #674188;
    border-color: #674188;
    transition: .4s;
  }
  
  .grillaFotos {
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  
  .grillaFotos img{
    aspect-ratio: 1;
    object-fit: cover;
  }
  
  .customCard{
    border-color: #F7EFE5;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  
  .customCard:hover{
    box-shadow: 0rem 0rem 1.1rem #674188;
    transition: .5s;
  }
  
  .imgDesc, .span2, .modelRs, .locationRs{
    background-color: #FFFBF5;
  }
  
  .locationRs, .modelRs{
    font-weight: bold;
  }